@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>lonesomegeek</h1>
    <p class="lead"> semantic-logging web sample</p>

    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <input type="text" id="message" />
    <select id="level">
        <option value="Debug">Debug</option>
        <option value="Fatal">Fatal</option>
    </select>
    <button id="send-message">Send message</button>
</div>

@section scripts {
    <script>
    $(document).ready(function () {
        $('#send-message').click(function () {
            $.ajax({
                type: "POST",
                url: 'http://localhost:49500/api/logging',
                data: { 'Message': $('#message').val(), 'Level': $('#level').val() },
                success: function () { alert("Message sent successfully!"); },
                dataType: 'json'
            });
        });
    });
    </script>
}